In [22]:
import pandas as pd
from pymongo import MongoClient
import seaborn as sns
import matplotlib.pyplot as plt



# Load the dataset
data = pd.read_csv('Resources/Impact_of_Remote_Work_on_Mental_Health.csv')  # Update with your dataset path

# Connect to MongoDB
client = MongoClient('mongodb://localhost:27017/')
db = client['remote_work_db']  # Create a new database
collection = db['mental_health']  # Create a new collection

# Insert data into MongoDB
collection.insert_many(data.to_dict('records'))

print("Data loaded successfully!")

Data loaded successfully!

In [23]:
# Retrieve data from MongoDB
data = pd.DataFrame(list(collection.find()))

# Display initial data info
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 21 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   _id                                10000 non-null  object
 1   Employee_ID                        10000 non-null  object
 2   Age                                10000 non-null  int64
 3   Gender                             10000 non-null  object
 4   Job_Role                           10000 non-null  object
 5   Industry                           10000 non-null  object
 6   Years_of_Experience                10000 non-null  int64
 7   Work_Location                      10000 non-null  object
 8   Hours_Worked_Per_Week              10000 non-null  int64
 9   Number_of_Virtual_Meetings         10000 non-null  int64
 10  Work_Life_Balance_Rating           10000 non-null  int64
 11  Stress_Level                       10000 non-null  object
 12  Mental_Health_Condition            7608 non-null   object
 13  Access_to_Mental_Health_Resources  10000 non-null  object
 14  Productivity_Change                10000 non-null  object
 15  Social_Isolation_Rating            10000 non-null  int64
 16  Satisfaction_with_Remote_Work      10000 non-null  object
 17  Company_Support_for_Remote_Work    10000 non-null  int64
 18  Physical_Activity                  6742 non-null   object
 19  Sleep_Quality                      10000 non-null  object
 20  Region                             10000 non-null  object
dtypes: int64(7), object(14)
memory usage: 1.6+ MB
None

In [24]:
# Check for missing values
print(data.isnull().sum())

_id                                     0
Employee_ID                             0
Age                                     0
Gender                                  0
Job_Role                                0
Industry                                0
Years_of_Experience                     0
Work_Location                           0
Hours_Worked_Per_Week                   0
Number_of_Virtual_Meetings              0
Work_Life_Balance_Rating                0
Stress_Level                            0
Mental_Health_Condition              2392
Access_to_Mental_Health_Resources       0
Productivity_Change                     0
Social_Isolation_Rating                 0
Satisfaction_with_Remote_Work           0
Company_Support_for_Remote_Work         0
Physical_Activity                    3258
Sleep_Quality                           0
Region                                  0
dtype: int64

In [27]:
# Remove all rows with any missing values
data_cleaned = data.dropna()

In [28]:
# Check for duplicates
duplicates = data_cleaned.duplicated().sum()
print(f"Number of duplicate records: {duplicates}")

Number of duplicate records: 0

In [20]:
# Count occurrences of each mental health condition
mental_health_counts = data_cleaned['Mental_Health_Condition'].value_counts().reset_index()
mental_health_counts.columns = ['Mental_Health_Condition', 'Count']
mental_health_counts

  Mental_Health_Condition  Count
0                 Burnout   1280
1                 Anxiety   1278
2              Depression   1246
3                 Unknown   1196